:root {
  --primary-color: #333333; /* Couleur du texte principale */
  --secondary-color: #666666; /* Couleur du texte secondaire */
  --background-color: #ffffff; /* Couleur de fond */
  --box-shadow-color: rgba(0, 0, 0, 0.1); /* Ombre légère */
  --hover-box-shadow-color: rgba(0, 0, 0, 0.15); /* Ombre au survol */
  --transition-duration: 0.3s;
  --padding: 20px;
  --margin: 10px;
}

.projets-container {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--background-color);
}

.projets-container h2 {
  text-align: center;
  margin-bottom: 30px;
  color: var(--primary-color);
}

.projet-card {
  border-radius: 12px;
  padding: var(--padding);
  background-color: var(--background-color);
  /*box-shadow: 0 8px 16px var(--box-shadow-color);*/
  height: 300px;
  display: flex;
  flex-direction: column;
  transition: transform var(--transition-duration) ease, box-shadow var(--transition-duration) ease;
  margin: var(--margin);
}

.projet-card:hover {
  transform: translateY(-5px);
  /*box-shadow: 0 8px 16px var(--hover-box-shadow-color);*/
}

.projet-card img {
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.projet-card h3 {
  font-weight: 600;
  margin-bottom: 8px;
  color: var(--primary-color);
}

.projet-card p {
  color: var(--secondary-color);
}

swiper-container {
  width: 100%;
  height: 350px;
  padding: 10px 40px;
}

swiper-slide {
  width: 25rem;
  display: flex;
  justify-content: center;
}
