<section id="contact">
  <h2>Contactez-moi</h2>

  <div class="contact-info">
    <h3>Coordonnées</h3>
    <p>Téléphone : <a href="tel:+630877552">06 30 87 75 52</a></p>
    <p>LinkedIn : <a href="https://www.linkedin.com/in/ludovic-bouzac/" target="_blank" rel="noopener noreferrer">ludovic-bouzac</a></p>
    <p>GitHub : <a href="https://github.com/LBouzac" target="_blank" rel="noopener noreferrer">LBouzac</a></p>
    <p>Ville : <a href="https://maps.app.goo.gl/hAmafKaGYHLTw6VY8" target="_blank" rel="noopener noreferrer">Toulouse</a></p>

  </div>
</section>
