<div class="competences-container">
  <h2>Compétences</h2>
  <section id="competences">
    <h2>Mes compétences développement et réseaux</h2>

    <div class="competence">
      <h3>HTML / CSS</h3>
      <p>Je sais utiliser le langage HTML et CSS appris durant ma première année de BTS SIO à l'institut Limayrac.</p>
    </div>

    <div class="competence">
      <h3>PHP</h3>
      <p>J'ai appris les bases du PHP et de l'orientée objet durant ma première et deuxième année de BTS SIO Slam à l'institut Limayrac.</p>
    </div>

    <div class="competence">
      <h3>JavaScript</h3>
      <p>J'apprends le JavaScript de chez moi pour m'améliorer dans le développement web.</p>
    </div>

    <div class="competence">
      <h3>Python</h3>
      <p>J'apprends le Python en cours de certifications pour créer des scripts python.</p>
    </div>

    <div class="competence">
      <h3>Java</h3>
      <p>J'ai appris les bases du Java durant ma deuxième année SIO Slam à l'institut Limayrac.</p>
    </div>

    <div class="competence">
      <h3>Bac Pro SN RISC</h3>
      <p>J'ai réparé et installé des ordinateurs fixes ou mobiles, installé et maintenu un serveur Windows, et installé des commutateurs, switch, téléphone IP, caméra IP pour un réseau privé durant mes 3 années de Bac Pro SN.</p>
    </div>
  </section>

</div>
